.env

# User-specific stuff
.idea/
.vscode/

# Generated proto files
web-app/src/proto/*
!web-app/src/proto/.gitkeep
api/proto/*
!api/proto/.gitkeep

# Generated CSS framework files
web-app/src/assets/css/tailwind.css

# Temp data
api/data/

# API binary
api/api
