.env

# User-specific stuff
.idea/
.vscode/
.DS_Store
yarn-error.log

# Generated proto files
web-app/src/proto/*
!web-app/src/proto/.gitkeep
api/proto/*
!api/proto/.gitkeep

# Un-vendored dependencies
node_modules
web-app/src/assets/css/tailwind.css

# Temp data
api/data/
web-app/cypress/screenshots/
web-app/src/node_modules/@sapper/

# Build Output
api/api
web-app/__sapper__/
