# Redirect http://domain to https://app.domain
server {
  listen 80;
  listen [::]:80;
  server_name default_server;

  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }

  location / {
    return 301 https://www.pubgolf.co$request_uri;
  }
}

# Redirect https://domain to https://app.domain
server {
  server_name pubgolf.co;
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  ssl_certificate /etc/cloudflare/certs/pubgolf.co.pem;
  ssl_certificate_key /etc/cloudflare/certs/pubgolf.co.key;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  return 301 https://www.pubgolf.co$request_uri;
}

server {
  server_name www.pubgolf.co;
  listen 80;
  listen [::]:80;
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  ssl_certificate /etc/cloudflare/certs/pubgolf.co.pem;
  ssl_certificate_key /etc/cloudflare/certs/pubgolf.co.key;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  return 302 https://app.pubgolf.co/nyc-2019$request_uri;
}

server {
  server_name api.pubgolf.co;
  listen 80;
  listen [::]:80;
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  ssl_certificate /etc/cloudflare/certs/pubgolf.co.pem;
  ssl_certificate_key /etc/cloudflare/certs/pubgolf.co.key;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  location / {
    proxy_pass http://envoy:${GRPC_WEB_PORT};
    proxy_http_version 1.1;
  }
}

server {
  server_name app.pubgolf.co;
  listen 80;
  listen [::]:80;
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  ssl_certificate /etc/cloudflare/certs/pubgolf.co.pem;
  ssl_certificate_key /etc/cloudflare/certs/pubgolf.co.key;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  location / {
    proxy_set_header Host $WEBAPP_UPSTREAM_HOST;
    proxy_pass https://${WEBAPP_UPSTREAM_HOST};
  }
}
