@tailwind base;

@tailwind components;

.text-orange {
  color: #EF753D;
}

.bg-orange {
  background-color: #EF753D;
}

.btn {
  @apply text-center text-xl rounded p-3;
}

.btn-primary {
  @apply text-white font-light;
  background-color: #EF753D;
}

.btn-primary:active {
  background-color: #F2913D;
}

.btn-secondary {
  @apply bg-white font-bold;
  color: #EF753D;
}

.btn-secondary:active {
  @apply bg-gray-200;
  color: #F2913D;
}

.input {
  @apply bg-white text-xl rounded p-3;
  color: black;
}

@tailwind utilities;
