name: "Build and Publish Artifacts"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  proto_build_and_check:
    name: Build and Check Protos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Download Buf CLI
        uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ github.token }}
      - name: Lint .proto Files
        uses: bufbuild/buf-lint-action@v1
      - name: Format .proto Files
        run: buf format ./proto/ --diff --exit-code
      - name: Check Breaking Changes
        uses: bufbuild/buf-breaking-action@v1
        with:
          against: "https://github.com/${GITHUB_REPOSITORY}.git#branch=main"
      - name: Generate Protos
        run: |
          buf generate --template buf.gen.ci.yaml
          cd build/proto/swift
          zip -r ${{ github.workspace }}/build/proto.zip ./*
      - name: Upload Generated Protos as CI Artifact
        uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          name: generated-protos
          path: build/proto.zip

  tools_build_and_check:
    name: Build and Check Tools
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          args: ./tools/...
      - name: Test
        run: go test ./tools/lib/...
      - name: Build
        run: GOOS=darwin GOARCH=amd64 go build -v ./tools/cmd/pubgolf-devctrl
      - name: Upload Built Tools as CI Artifact
        uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          name: pubgolf-devctrl
          path: pubgolf-devctrl

  api_build_and_check:
    name: Build and Check API Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          args: ./api/...
      - name: Test
        run: go test ./api/...
      - name: Build API Server Binary
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -v ./api/cmd/pubgolf-api-server
      - name: Upload API Server Binary as CI Artifact
        uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          name: pubgolf-api-server
          path: pubgolf-api-server

  web_app_build_and_check:
    name: Build and Check Web App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: web-app/package-lock.json
      - name: NPM Install
        working-directory: ./web-app
        run: npm ci
      - name: Run Web App Checks
        working-directory: ./web-app
        run: |
          npm run ci:lint
          npm run ci:check
      - name: Build Web App
        working-directory: ./web-app
        run: npm run build
      - name: Upload Assets to R2
        if: github.ref == 'refs/heads/main'
        uses: jakejarvis/s3-sync-action@v0.5.1
        env:
          AWS_S3_ENDPOINT: https://cc720e9866469bbe052e0c3d90b4c016.r2.cloudflarestorage.com
          AWS_S3_BUCKET: pubgolf-web-app-assets
          AWS_ACCESS_KEY_ID: ${{ secrets.CLOUDFLARE_R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CLOUDFLARE_R2_SECRET_ACCESS_KEY }}
          SOURCE_DIR: web-app/build/_app/immutable/
          DEST_DIR: _app/immutable/
      - name: Upload Web App Dynamic Files as CI Artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: pubgolf-web-app
          path: |
            web-app/build/
            !web-app/build/_app/immutable/

  publish_gh_release:
    name: Publish Protos and Tools
    if: github.ref == 'refs/heads/main'
    needs:
      - proto_build_and_check
      - tools_build_and_check
    runs-on: ubuntu-latest
    steps:
      - name: Download CI Artifact
        uses: actions/download-artifact@v4
        with:
          name: generated-protos
      - name: Download pubgolf-devctrl Tool
        uses: actions/download-artifact@v4
        with:
          name: pubgolf-devctrl
      - name: Get short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV
      - name: Upload as GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            proto.zip
            pubgolf-devctrl
          tag_name: sha-${{ env.SHORT_SHA }}

  api_publish_docker_image:
    name: Publish API Server
    if: github.ref == 'refs/heads/main'
    needs:
      - proto_build_and_check
      - api_build_and_check
      - web_app_build_and_check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Auth with Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/pubgolf/pubgolf
          tags: |
            type=sha
      - name: Download API Server Binary as CI Artifact
        uses: actions/download-artifact@v4
        with:
          name: pubgolf-api-server
      - name: Download Web App Dynamic Files as CI Artifact
        uses: actions/download-artifact@v4
        with:
          name: pubgolf-web-app
          path: web-app-content
      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          push: true
          file: ./infra/Dockerfile
          context: ./
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  trigger_staging_deploy:
    name: Trigger Staging Deploy for App
    if: github.ref == 'refs/heads/main'
    needs:
      - api_publish_docker_image
    runs-on: ubuntu-latest
    steps:
      - name: Get short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV
      - name: Trigger Deployment Workflow
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: deploy-staging.yaml
          # Disable auto-format to prevent replacing the outer quotes with single quotes
          # prettier-ignore
          inputs: "{ \"version\": \"sha-${{ env.SHORT_SHA }}\" }"
